html, body {
    margin: 0;
    padding: 0;
    background: #C6C6C6;

  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

p {
  margin: 0;
}

.paintgram-container {
    width: 375px;
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #C6C6C6;
    margin: 0 auto;
    background: #fff;
}

.paintgram-image-container {
    width: 375px;
    height: auto;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
        background: #fff;
}

.user {
    display: flex;
    justify-content: start;
    align-items: center;
}

.user img {
    margin: 10px 7px 11px 10px;
}

.user p {
    width: 307px;
    font-weight: bold;
    font-size: 13px;
}

.user span {
    display: block;
    font-weight: 400;
    font-size: 12px;
}

.vangogh-post {
    width: 375px;
    height: 375px;
    margin: 0;

}
.vangogh-avatar {
    width: 34px;
    height: 34px;
    border-radius: 100px;
}

.img {
    width: 127px;
    margin: 16px 0 17px 15px;
}

.user-avatar {
    width: 34px;
    height: 34px;
    border-radius: 100px;
    margin: 16px 16px 17px 183px;
}

.user-interaction-container {
    width: 375px;
    margin: 0 auto;
    padding: 0;
    background: #fff;
    padding-bottom: 16px;
}

.actions {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 6px;
}

.actions img {
    width: 23px;
    height: 22px;
}

.like,
.comment {
    margin: 11px 5px 12px 5px;
    transition: filter 0.3s ease;
}

.share {
    margin: 14px 5px 12px 5px;
}

.like:hover,
.comment:hover,
.share:hover {
    filter: opacity(50%);
}

.likes {
    font-size: 13px;
    margin: 0px 0px 12px 13px;
    font-weight: bold;
}

.user-comment {
    font-size: 13px;
    margin: 0 0 0 13px;
}

.user-name {
    font-weight: bold;
}

#ig-post {
    margin-bottom: 30px;
}